<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>모임 삭제 페이지</title>
</head>
<body>
<section layout:fragment="content">
<div class="container-fluid py-5" style="width:60%;height:40%;margin:100px auto;">
    <div class="container py-5">
        <div class="rounded p-5" style="background-color:#689f38;opacity: 0.95;">
            <div class="row g-4">
               <div style="text-align:center;margin:auto;color:black;">
                   <h1 class="mb-4">그동안 모임을 이용해주셔서 감사합니다!</h1>
                   <p class="mb-4">다시 모임을 만들기 원하시면 이 버튼을 클릭해주세요=><a style="color:white" href="#">START</a></p>
               	<a class="btn btn-secondary" href="/">메인으로 가기</a>
               </div>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>