<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{meeting/meetingLayout}">
<head>
<meta charset="UTF-8">
<title>봉사후기 게시글</title>

<!-- TUI 에디터 CSS CDN -->
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css"/>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<style>
.write-1 {
    height: 30px;
    width:70%;
    border : none;
    font-size: 18px;
    outline: none;
}
.write-2 {
    width:70%;
}
</style>
</head>
<body>
	<section layout:fragment="content">
	<br>
		<div class="body-wrapper">
			<div class="container-fluid">
				<div class="container">
					<h2 style="text-align: center;">봉사후기</h2>
					<br>
					<label>제목</label>
	                <input th:value="${info.title}" class='write-1' type="text" name="title" readonly>
	                <hr>
					<label>작성자</label>
	                <input th:value="${info.writer}" class='write-1' type="text" name="title" readonly>
	                <hr>
					<label>작성일자</label>
	                <input th:value="${#dates.format(info.writeDate, 'yyyy년 MM월 dd일')}" class='write-1' type="text" name="title" readonly>
	                <hr>
	                <label>내용</label>
	                <div class='write-2' id="viewer"></div> 
					<!-- 에디터를 적용할 요소 (컨테이너) -->
					<br>
	                <a th:if="${info.writer}==${session.userId}" onclick="modalOpen()" type="button" style="float: right;width:90px" class="btn btn-primary m-1" >삭제</a>
	                <a th:href="@{../reviewBoardList(volId=${session.id})}" type="button" style="float: right;width:90px" class="btn btn-primary m-1">돌아가기</a>
					<!-- 모달창 -->
					<div class="modal fade" id="confimModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
					    <div class="modal-dialog" role="document">
					        <div class="modal-content">
					            <div class="modal-header">
					                <h5 class="modal-title" id="deleteConfirmationModalLabel">삭제 확인</h5>
					            </div>
					            <div class="modal-body">
					                <p>정말 삭제 하시겠습니까?</p>
					            </div>
					            <div class="modal-footer">
					                <button type="button" class="btn btn-danger" id="noBtn" data-dismiss="modal" aria-hidden="false">아니오</button>
					                <button type="button" class="btn btn-secondary" id="yesBtn" data-dismiss="modal" aria-hidden="false">네</button>
					            </div>
					        </div>
					    </div>
					 </div>
					
					<!-- TUI 에디터 JS CDN -->
					<script>
						function decodeHtml(html) {
						    var txt = document.createElement('textarea');
						    txt.innerHTML = html;
						    return txt.value;
						}
					
						const cont = decodeHtml(`[[${info.content}]]`);
						const viewer = new toastui.Editor.factory({
							  el: document.querySelector('#viewer'),
							  viewer: true,
							  height: '500px',
							  initialValue: cont
							});
						
						function delReview(){
							$.ajax({
				           		url: '/delReview?reviewId='+[[${info.reviewId}]],
				           		type: 'POST',
				           		processData: false,
				           		contentType: false,
				           		success: function(data) {
				           			location.href="reviewBoardList?volId="+[[${session.id}]]
				           		},
				           		error: function(e) {
				           			console.log('실패');
				           		}
				           	});
						}
						
						function modalOpen(){
							$("#confimModal").modal("show");
							
							$("#yesBtn").on('click',function () {
								delReview();
							});
						};
						
						$("#noBtn").on('click',function () {
						    $("#confimModal").modal("hide");
						});
						
						
					</script>
				</div>
			</div>
		</div>
	</section>
	<br>
</body>
</html>