<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{meeting/meetingLayout}">
<head>
<style>
.cur{
	cursor:pointer;
}
</style>
<meta charset="utf-8">
<title>모임 탈퇴페이지</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">
</head>
<body>
	<section layout:fragment="content">
    <main style="text-align:center;margin:auto">
    <!-- Team Start -->
    <div class="container-fluid container-team py-5">
        <div class="container pb-5">
            <div class="row g-5 align-items-center mb-5">
                <div class="wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-6 mb-3">정말 모임을 탈퇴하시겠습니까?</h1>
                    <h3 class="mb-3">모임탈퇴약관</h3>
                    <p class="mb-4">제4장 계약 해지</p>
					<p class="mb-4">제11조 (계약 해지)</p>
					<p class="mb-4">회원이 서비스 이용 계약을 해지 하고자 할 때는 마이페이지의 '모임 탈퇴하기' 메뉴에서 모임탈퇴를 신청하시면 됩니다.
					<br>탈퇴를 신청하시면 즉시 탈퇴처리가 완료되며, 탈퇴후 모임을 다시 가입하는 경우 불이익이 있을 수 있습니다.</p>
					<input type="checkbox" id="checking">동의합니다.
					<br>
                	<button type="button" class="btn btn-outline-dark m-1" onclick="outMeeting()">탈퇴하기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달창 -->
	<div class="modal fade" id="confimModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="deleteConfirmationModalLabel">탈퇴 확인</h5>
	            </div>
	            <div class="modal-body">
	                <p>탈퇴되었습니다.<br>모임에 참여해주셔서 감사합니다:)</p>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger" id="noBtn" data-dismiss="modal" aria-hidden="false">닫기</button>
	            </div>
	        </div>
	    </div>
	 </div>
    <!-- Team End -->
    </main>
    <script>
    	const volId = [[${session.id}]];
    	const volMemId = "[[${session.userId}]]";
    	function outMeeting(){
    		var checked = $('#checking').is(':checked');
    		if(checked==false){
    			alert('약관에 동의를 해주세요.')
    			return;
    		}
    		$.ajax({
           		url: "/WithdrawalProcess?volId="+volId+"&memId="+volMemId+"&appCode=h04",
           		type: 'GET',
           		processData: false,
           		contentType: false,
           		success: function(data) {
           			modalOpen();
           		},
           		error: function(e) {
           			console.log('실패');
           		}
           	});
    	}
    	$("#confimModal").modal("show");
    	function modalOpen(){
			$("#confimModal").modal("show");
		};
		
		$("#noBtn").on('click',function () {
		    $("#confimModal").modal("hide");
		    location.href="/";
		});
    </script>
	</section>
</body>

</html>