<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>봉사마루</title>
<style>
</style>
</head>
<body>
<section layout:fragment="content">
<div th:insert="~{banner/empty::banner}"></div>
<div class="side" th:insert="~{my/sidebar::side}"></div>
	<div class="container">
		<h2>활동증서</h2>
	</div>
</div>
<script  th:inline="javascript">
</script>
</section>
</body>
</html>
