<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>비밀번호 검증</title>
<style>
.title {
	height: 1000px;
	margin:0 auto;
	text-align:center;
	color: black;
	font-family: 'Orbit', sans-serif;
}

.imagelogo{
	width: 300px;
	height: 300px;
}
p {
	font-size:18px;
}

</style>
</head>
<body>
<section layout:fragment="content">
<div th:insert="~{banner/empty::banner}"></div>
  <div class="container">
  	<div class="title">
	    <div>
	    	<span>회원정보 수정</span>
	    	<p>회원님의 소중한 정보를 안전하게 관리하세요.</p>
	    	<image src="/image/bongsalogo.png" class="imagelogo">
	    	<p style="font-size:20px;">회원정보를 수정하시려면 비밀번호를 입력하셔야 합니다.</p>
	    	<p style="font-size:14px;">회원님의 개인정보 보호를 위한 본인 확인 절차이오니, 봉사마루 회원 로그인 시 사용하시는 비밀번호를 입력해주세요.</p>
	    	<div style="margin-bottom:30px;">
			    <input style="padding-left:17px;" type="password" id="currentPassword" name="currentPassword" placeholder="비밀번호를 입력해주세요">
			    <p id="errorText" style="display:none;">비밀번호가 일치하지 않습니다</p>
	    	</div>
		    <input id="cancelBtn"  class="btn btn-outline-dark btn-lg" type="button" value="취소">	    	
		    <input id="submitBtn"  class="btn btn-outline-dark btn-lg" type="submit" value="인증">	    	
	    </div>
  	</div>
  </div>

	<script>
	// 현재 비밀번호 검증
		$("#submitBtn").on('click', function() {
		  let currentPassword = $("#currentPassword").val();

		  $.ajax({
		    url: "/passwordCheck",
		    type: "POST",
		    data: { currentPassword: currentPassword },
		    success: function(response) {
		      window.location.href = "/profile";
		    },
		    error: function(xhr, status, error) {
		      console.log(error);
		      $("#errorText").removeAttr("style");
		      $("#errorText").css("color", "red");
/* 		      var errorText = $("<div>").text("비밀번호가 일치하지 않습니다.").css("color", "red");
		      $("#currentPassword").parent().append(errorText); */
		    }
		  });
		});
	
	
		$("#cancelBtn").on('click', function() {
		    window.location.href = "/my";
		});
	
	document.addEventListener("keydown", function(event) {
		if (event.key == "Enter") {
		    event.preventDefault(); // 기본 엔터 동작을 막음
		    document.getElementById("submitBtn").click(); // 버튼 클릭 이벤트 실행
		  }
	});
	</script>
</section>
</body>
</html>
