<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <style>
    	.banner_content h4,
		.banner_content h2,
		.banner_content p {
		    color: black; /* 기존 텍스트 색상 */
		    text-shadow: 2px 2px 4px #FFFFFF; /* 흰색 그림자 */
		}	
    </style>
        <title>봉사마루</title>
    </head>
    <body>
	<div th:fragment="banner">
         <section class="banner-home" style="height:500px;background-size:cover; background-image:url('banner/기부.png');">
        <div class=" d_flex align-items-center" style="min-height: 800px;">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
                data-background=""></div>
            <div class="container" style="margin-bottom:300px;">
                 <div  style="color:#fff; "class="banner_content text-center">
                </div>
            </div>
        </div>
    </section>
                    </div>
    </body>
</html>