<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>시설 봉사/기부 후기</title>
<style>
.facilities_item{
display:inline-block;
}


</style>
<body>
<section layout:fragment="content">
<div class="container">
<div th:insert="~{banner/empty::banner}"></div>
<div th:insert="~{facility/facilityNav::nav}"></div>
<div class="container">
<h3 class="title_color section_title text-center">봉사후기</h3>
<div class="row mb_30">
<th:block th:if="${list.size} == 0">
		<div style="text-align:center;">
			<h5>현재 등록된 게시글이 없습니다.</h5>
		[[${list.detailCate}]]
[[${list.memId}]]
		</div>
		</th:block >
		<th:block th:if="${list.size} != 0">
[[${list.detailCate}]]
[[${list.memId}]]
			<table class="table" id="classic">
				<thead>
					<tr>
						<th>제목</th>
						<th>작성날짜</th>
						<th>작성자</th>
					</tr>
				</thead>
				<tbody>
				 	<th:block th:each="list:${list}"  >
						<tr>
							 <td th:text="${list.title}" class="btn-deleteAsk"><a th:href="@{/fInfo/volReviewInfo(detailCate=${list.detailCate})}"></a></td>
							 <td th:text="${#dates.format(list.writeDate,'yyyy-MM-dd')}" class="btn-deleteAsk"></td>
							 <td th:text="${list.memId}" class="btn-deleteAsk"></td>
						
						</tr>
						
					</th:block>
					</tbody>
					</table>
                </div> 
 <!--  <th:block th:if="${list!= null and #lists.size(list)!=0}">                
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            <a th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId}, start=${vo.start - vo.cntPerPage}, end=${vo.start - 1})}" class="page-link" aria-label="Previous">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-left"></span>
                </span>
            </a>
        </li>
        <li class="page-item" th:each="pageNum : ${#numbers.sequence(vo.startPage, vo.endPage)}" th:class="${pageNum == vo.currentPage ? 'page-item active' : 'page-item'}">
            <a class="page-link" th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId}, start=${(pageNum - 1) * vo.cntPerPage + 1}, end=${pageNum * vo.cntPerPage})}" th:text="${pageNum}"></a>
        </li>
        <li class="page-item">
            <a th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId}, start=${vo.end + 1}, end=${vo.end + vo.cntPerPage})}" class="page-link" aria-label="Next">
                <span aria-hidden="true">
                    <span class="lnr lnr-chevron-right"></span>
                </span>
            </a>
        </li>
    </ul>
</nav> 
</th:block>
 -->
</div>
<!-- <div class="container">
<h3 class="title_color section_title text-center">기부 마감</h3>
<div class="row mb_30">
<th:block th:each="funded:${fundedList}">
                    <div class="col-lg-4 col-md-6">
                        <div class="accomodation_item text-center facilityIntro">
                           <div class="hotel_img">
                                <img th:src="${funded.filePath}" onError="this.src='../image/기본이미지.jpg'" alt="">
                                <a th:href="@{info.do(donId=${funded.donId}, name=${funded.donId})}" th:text="${funded.title}"></a>
                            </div>
                            <div class="details">
                                <div class="tags">
                                </div>
                                <h4 class="sec_h3" th:text="${funded.title}" style="color:black;"></h4>
                                <p th:text="${funded.donors}+'명 참여'" style="color:black;"></p>
                                <h6 class="date title_color" th:text="${funded.goalAmt}"></h6>
                            </div>	
                        </div>
                    </div>
    </th:block>                                

                </div> 
 <th:block th:if="${fundedList!= null and #lists.size(fundedList)!=0}">              
<nav class="blog-pagination justify-content-center d-flex">
	<ul class="pagination">
		<li class="page-item">
			<a th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId},start=${vo2.start - vo2.cntPerPage}, end=${vo2.start - 1})}" class="page-link" aria-label="Previous"> <span aria-hidden="true"> <span class="lnr lnr-chevron-left"></span></span></a></li>
		<li class="page-item" th:each="pageNum : ${#numbers.sequence(vo2.startPage, vo2.endPage)}" th:class="${pageNum == vo2.currentPage ? 'page-item active' : 'page-item'}">
			 <a class="page-link" th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId},start=${(pageNum - 1) * vo2.cntPerPage + 1}, end=${pageNum * vo2.cntPerPage})}" th:text="${pageNum}"></a></li>
		<li class="page-item"><a th:href="@{/fInfo/fundingList(facId=${session.facilityInfo.facId},start=${vo.end + 1}, end=${vo.end + vo.cntPerPage})}" class="page-link" aria-label="Next"> <span aria-hidden="true"> <span class="lnr lnr-chevron-right"></span></span></a></li>
	</ul>
</nav>
</th:block>
</div> -->
</div>
<script>


</script>
</section>
</body>
</html>