			<table class="table" id="facLedger">
				<thead>
					<tr>
						<th>날짜</th>
						<th>기부자</th>
						<th>기부금액</th>
						<th>프로젝트명</th>
					</tr>
				</thead>
				<tbody>
						<tr th:each="ledger : ${dona}">
							 <td th:text="${#dates.format(ledger.payDate, 'yyyy년 MMM dd일')}"></td>
							 <td th:if="${ledger.anonCheck}=='1'">익명기부자</td>
							 <td th:if="${ledger.anonCheck}=='0'" th:text="${ledger.memId}"></td>
							 <td data-th-text="${#numbers.formatInteger(ledger.donAmt, 1, 'COMMA') + '원'}"></td>
							 <td th:text="${ledger.title}"></td>
						</tr>
				</tbody>
			</table>